* {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}
body {
    line-height: 1.15;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

img {
    vertical-align: bottom;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}